*
!/assets
/assets/node_modules/
!/config/
!/docker/entrypoint.sh
!/lib/
!/priv/
!/rel/
!/.tool-versions
!/mix.exs
!/mix.lock
_build/
deps/
.git/
.gitignore
Dockerfile
Makefile
README*
test/
priv/static/
